.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start / col-end 6;

  background-image: linear-gradient(
      to bottom,
      rgba($color-secondary, 0.85),
      rgba($color-secondary, 0.85)
    ),
    url(../src/img/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 8rem;

  display: grid;
  grid-template-rows: 1fr max-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content max-content);
  grid-row-gap: 1.5rem;
  justify-content: center;
  @media only screen and(max-width: $bp-large) {
    margin-top: 8rem;
  }
  @media only screen and(max-width: $bp-medium) {
    grid-column: 1 / -1;
  }
  @media only screen and(max-width: $bp-small) {
    padding: 5rem;
  }
  &__logo {
    height: 6rem;
    justify-self: center;
    animation: zoom-in 0.5s ease-in-out both;
  }

  &__btn {
    align-self: start;
    justify-self: start;
    animation: slide-bottom 0.5s ease both;
  }

  &__seenon-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;
    animation: slide-bottom 0.5s ease-in-out both;

    font-size: 1.6rem;
    color: $color-grey-light-2;
    &::after,
    &::before {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }

  &__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    justify-items: center;
    align-items: center;
    animation: slide-bottom 0.5s ease-in-out both;

    & img {
      filter: brightness(70%);
      max-height: 2.5rem;
      max-width: 100%;
      &:hover {
        filter: brightness(100%);
        cursor: pointer;
      }
    }
  }
}
